.sora-font{
        font-family: "Sora", serif;
}
.adlam-display-font {
        font-family: "ADLaM Display", serif;
}
.bannerImg{
        background-image: url('images/cat-big.png');
}
.dogpic{
        padding-top: 50px;
}
.dogpic img{
        height: 200px;
}
@media screen and (max-width:640px) {
        .logo,
        .items,
        .icon-btn{
                display: none;
        }
        .bannerImg{
                background-position: center;
                /* padding-bottom: 0px; */
                width: auto;
        }
}
@media  screen and (min-width:640px) and (max-width:768px) {
        .logo,
        .items,
        .icon-btn{
                display: none;
        }
}